{% extends 'shop/basic.html' %}

{% block title%} Contact Us - My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-3">
    <h3>Contact Us</h3>
    <form id='contact' action="/shop/contact/" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name" required>
  </div>
  <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email" required>
  </div>

    <div class="form-group">
    <label for="name">Phone</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number" required>
  </div>


   <div class="form-group">
    <label for="desc">How May We Help You?</label>
    <textarea class="form-control" id="desc" name='desc' rows="3" required></textarea>
  </div>
        <button type="submit" class="btn btn-success">Submit</button>
</form>

</div>
{% endblock %}

{% block js %}
<script>

  $('#contact').submit(function(event){
    event.preventDefault()
    var formData = {

      'name' : $('input[name=name]').val(),
      'email' : $('input[name=email]').val(),
      'phone' : $('input[name=phone]').val(),
      'desc' : $('textarea[name=desc]').val(),
      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
     }
     console.log(formData)
     $.ajax({
      type:"POST",
      url: '/shop/contact/',
      data: formData,
      encode: true,

     }).done(function(data){
      detail = JSON.parse(data)
      if (detail.length>0 && detail!={}){
        var message = 'Thanks: '+detail[0]['name']+" Your form is submitted"
        alert(message)
        location.reload(true)
      }
      else{
        console.log("Nothing Happened")
      }
    }).fail(function(jqXHR, textStatus, errorThrown) {
      // Handle errors from the AJAX request
      console.error("Error:", textStatus, errorThrown);
  });
  })  
</script>
{% endblock js %}
